package ${basePackage}.module.${table.moduleName}.controller.${sceneEnum.basePackage}.${table.businessName.replace(
    "/",".")}.vo;

import lombok.*;

/**
* ${sceneEnum.name} - ${table.classComment}修改 Request VO
*/

@Data
@EqualsAndHashCode(callSuper = true)
@ToString(callSuper = true)
public class ${sceneEnum.prefixClass}${table.className}UpdateReqVO extends ${sceneEnum.prefixClass}${table.className}SaveBaseVO {

/**
* 主键
*/

private Long id;
}